
html{
    background-color: #ffffff;
    background-image: url("zaXI9G.jpg");
}
#heading{
    text-shadow: 5px 1px #2ec4b6;
    color: black;
    text-align: left;
    font-size: 50px;
    font-family: Helvetica;
    margin-bottom: 10px;
    margin-left: 150px;
    margin-top: 400px;
}
h5 {
    text-shadow: 1.2px 1px #2ec4b6;
    text-align: left;
    font-size: 15px;
    margin: 10px;
    color: black;
    font-family: Helvetica;
    margin-left: 150px;
    

    

}
.imagem{
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 10px 5px 5px #2ec4b6;
    margin-right: 200px;
    float: right;
    position: relative;
    right: 150px;
    bottom: 175px;
    border: 8px white solid;
}
#localizacao{
    text-shadow: 2.5px 1px #2ec4b6;
    float:right;
    font-size: 30px;
    position: relative;
    top: 10px;
    left: 240px;
    font-family: Helvetica;
    color: black;
    font-weight: bold;
}
#Habilidades{
    color: black;
    margin-top: 30px;
    font-family: Helvetica;
    position: relative;
    left: 150px;
    font-weight: bold;
    text-shadow: 0.5px 1px #2ec4b6;
}