body{
  background-color: #0D0D0D;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}
header {
  background-color: #D91A4D;
  margin: 30px auto 30px auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 80vw;
  border-radius: 15px;
  color: rgb(228, 214, 197);
  transition: all 1s;
}

p {
  text-align: center;;
  font-size: 25px;
  font-weight: 700;
  margin: 25px;
  color: rgb(228, 214, 197);
  text-shadow: 3px 1px  rgba(0, 0, 0, 0.63);
}



.to-do-list-buttons button {
  border: 0px;
  min-width: 70%;
  min-height: 50%;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  flex-basis: 75px;
  margin: 10px;
  background-color: rgb(228, 214, 197);
  transition: all 0.4s;

}

.task {
  user-select: none;
}
.to-do-list{
  display:flex;
  justify-content: center;
  flex-basis: 100%;
  align-items: center;

}
.to-do-list-buttons{
  background-color: #0D0D0D;
  min-width: 30vw;
  min-height: 70vh;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10%;
  transition: all 0.4s;
  transform: scale(0.7);
  opacity: 0.7;
  -webkit-box-reflect: below 20px -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0, 1)), to(rgba(0,0,0,0)))
}



.to-do-list-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 30vw;
  min-height: 70vh;
  background-color: rgb(13, 13, 13);
  border-radius: 10%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.068);;
  transition: all 0.4s;
  transform: scale(0.7);
  opacity: 0.7;
  -webkit-box-reflect: below 20px -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0, 1)), to(rgba(0,0,0,0)))
}

.create-button{
  border: 0px;
  background-color: rgb(228, 214, 197);
  min-width: 7vw;
  min-height: 4vh;
  border-radius: 5px;
  transition: all 0.4s;
  transform: scale(0.8);
}

.create-button:hover {
  transform: scale(1);
  background-color: rgb(245, 203, 152)


}
.to-do-list-content:hover{
  background-color: #D91A4D;
  opacity: 1;
  transform: scale(1);
}
.to-do-list-content:hover .up-button{
  background-color: #D91A4D;
  cursor: pointer;
}

.to-do-list-content:hover .down-button{
  background-color: #D91A4D;
  cursor: pointer;
}



.erase-button:hover {
  box-shadow: 8px 4px 5px rgba(0, 0, 0, 0.63);
}

.remove-button:hover {
  box-shadow: 8px 4px 5px rgba(0, 0, 0, 0.63);
}

.select-button:hover {
  box-shadow: 8px 4px 5px rgba(0, 0, 0, 0.63);
}

.save-button:hover {
  box-shadow: 8px 4px 5px rgba(0, 0, 0, 0.63);
}

.to-do-list-buttons:hover {
  background-color: #D91A4D;
  opacity: 1;
  transform: scale(1)
}

ol {
  width: 25vw;
  height: 25vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: flex-start;
  align-content: flex-start;
  margin: 20px;
  overflow: hidden;
}

li {
  display: flex;
  background-color: rgb(228, 214, 197);
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
}

.create-task{
  min-width: 7vw;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-task input {
  background-color: rgb(228, 214, 197);
  font-size: 1.2em;
  height: 5vh;
  width: 20vw;
  text-align: center;
  margin: 10px;
  border-radius: 15px;
  border: 0px;
}

ol:hover {
  overflow: auto;
}

.up-down-buttons {
  display: flex;
  width: 10vw;
  height: 10vw;
  align-items: center;
  justify-content: space-evenly;

}

.up-button {
  background-color: rgb(13, 13, 13);
  color: rgb(228, 214, 197);;
  border: 0px;
  font-size: 3em;
  transition: all 0.4s;
}

.down-button {
  color: rgb(228, 214, 197);
  background-color: rgb(13, 13, 13);
  border: 0px;
  font-size: 3em;
  transition: all 0.4s;
}

.up-button:hover {
  font-size: 3.5em;
}

.down-button:hover {
  font-size: 3.5em;
}

.selected {
  background-color: rgb(53, 27, 47);
  transition: all 0.4s;
  color: rgb(228, 214, 197);
}

.completed i{
  color: rgb(18, 19, 18);
}

.task {
  transition: all 0.4s;
  border-radius: 5%;
  margin: 10px;
}
.task:hover{
  transform: scale(1.1);
  box-shadow: 8px 4px 5px rgba(0, 0, 0, 0.63);
}